@font-face {
    font-family: 'spider';
    src: url('./font/CombackHomeRegular-jEMd9.ttf');
}

h1{
    font-family: 'spider';
}

body{
    margin: 0;
    padding: 0;
    background-image: url('./spidermanBackground.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: 'spider';
}

.main-container{
    border: 0px solid white;
    width: 950px;
    height: 550px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
}